@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&display=swap')

.root {
    -fx-background-color: #1d1d1d;
    -fx-font-family: 'Merriweather', serif;
    -fx-text-fill: white;
}

.error {
    -fx-text-fill: #e5a100 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #2c2a29;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: d4af37;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.tooltip-text {
    -fx-text-fill: white;
}
